
/* To change the size of the slideshow, override width and heigth of
 * slideshow and slideshow-slide.
 */

.slideshow {
  background-color: #59A80F;
  border: 1px solid #287700;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #257424;
  margin: 60px auto;
  width: 940px;
  height: 380px;
  position: relative;
}

.slideshow-viewport {
  position: absolute;
  left: 30px;
  top: 10px;
  bottom: 30px;
  right: 30px;
  background-color: #FDFDFD;
  border-radius: 6px;
  overflow: hidden;
}

.slideshow-slides {
  width: 100000px;
}

.slideshow-slide {
  float: left;
  margin: 10px 0;
  width: 880px;
}

.slideshow-info {
  padding: 20px 15px;
  height: 280px;
}

.slideshow-info h2 {
  color: #378600;
  font-size: 1.1em;
}

.slideshow-image {
  float: right;
  margin: 20px 15px;
}

.slideshow-progression {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 20px;
  text-align: center;
}

.slideshow-markers {
  display: inline-block;
}

.slideshow-markers:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.slideshow-marker {
  float: left;
}

.slideshow-marker:before {
   content: ' ';
   display: block;
   height: 0.6em;
   width: 0.6em;
   margin: 0.4em;
   background-color: white;
   webkit-border-radius: 3px;
   moz-border-radius: 3px;
   border-radius: 3px;
}

.slideshow-marker.current:before {
   background-color: #BBB;
}

.slideshow-control {
  top: 0;
  height: 100%;
  width: 30px;
  position: absolute;
  text-indent: -10000px;
}

.slideshow-left-control {
  display: none;
  left: 0;
  background: url('slideshow.png') no-repeat 0px 170px;
}

.slideshow-right-control {
  right: 0;
  background: url('slideshow.png') no-repeat -30px 170px;
}
